/*****HEADER*****/
.logoShrikhand {
    font-family: 'Shrikhand', cursive;
}
.maps {
    padding: 5%;
    font-size: 1rem;
}
.mapsBold {
    font-weight: 900;
}
.header {
    box-shadow: 0 0 0.5rem rgb(0 0 0 / 25%);
    position: relative;
}
.logoMaps {
    padding-right: 15px;
}
.textCenter {
    text-align: center;
}

.buttonPadding {
    padding-bottom: 15px;
}
.menuPadding {
    padding-top: 10px;
}
.rightPadding {
    padding-right: 20px;
}
.backPadding {
    padding: 7px 0 50px 0;
}

.listStyle {
    list-style: none;
    padding: 0;
    counter-reset: compteListe;
}
@media (min-width: 64rem) {
    .listStyle {
      display: flex;
    }
}  

.listStyles { 
    padding: 1.5rem;
    margin: 1rem 0 1rem .75rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgb(0 0 0 / 13%);
    border-radius: 1.25rem;
    background-color: #f6f6f6;
    display: flex;
    position: relative;
}
@media (min-width: 64rem) {
    .listStyles {
        flex: 1;
        margin: 0 0 0 2rem;
    }
}  

.listStyles3 { 
    padding: 1.5rem;
    margin: 1rem 0 1rem .75rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgb(0 0 0 / 13%);
    border-radius: 1.25rem;
    background-color: #f6c0fb;
    display: flex;
    position: relative;
}
@media (min-width: 64rem) {
    .listStyles3 {
        flex: 1;
        margin: 0 0 0 2rem;
    }
}  
.paddingFonc {
    padding: 2rem 1rem;
}

.listStyles::before {
    counter-increment: compteListe 1;
    content: counter(compteListe);
    background: #9356DC ;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    left: -.75rem;
} 
.listStyles3::before {
    counter-increment: compteListe 1;
    content: counter(compteListe);
    background: #9356DC ;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    left: -.75rem;
} 

.optionImg1 {
    height: 12rem;
    width: 100%;
    border: transparent solid 0px;
    border-radius: 1rem 1rem 0 0;
    box-shadow: none;
    object-fit: cover;
}

.choiseMenu {
    background-color: #f6f6f6;
}

.choiseMenu2 {
    background-color: #fff;
    box-shadow: grey ;
}
/*****HEADER*****/